🏛️ Generate museum social media copy from Google Sheets with Claude AI (Italian).json
{
  "name": "🏛️ Generate museum social media copy from Google Sheets with Claude AI - Instagram & Facebook (Italian)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "32933d82-e086-4c63-8495-9208b1fde9e2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media specialist focused on museum communication. Generate engaging social media copy for a museum based on the provided information.\n\n**Information from editorial calendar:**\nTopic: {{ $json.Argomento }}\nPublication date: {{ $json['Data pubblicazione'] }}\nNotes: {{ $json.Note }}\nTarget audience: {{ $json.Target }}\n\n**Instagram instructions:**\n- Max 150 words\n- Strong hook in first 2 lines (visible before \"read more\")\n- Educational but accessible language\n- If possible, include a curious detail that sparks curiosity\n- 1-3 relevant emojis (don't overdo it)\n- 3-5 strategic and specific hashtags (no generic ones like #museum)\n- Final call to action (e.g., \"Discover more at the museum\", \"Come visit us\", \"Tell us in the comments\")\n\n**Facebook instructions:**\n- Max 200 words\n- Narrative and conversational tone\n- Use storytelling when possible\n- If possible, include a curious detail that sparks curiosity\n- No hashtags or max 1-2 if truly relevant\n- Close with a question to encourage engagement (e.g., \"Did you know this story?\", \"Have you ever seen...\")\n\n**General tone:**\n- Professional but welcoming\n- Adapt register to specified target\n- Balance scientific rigor and accessibility\n\n**IMPORTANT - Required output format (STRICT JSON):**\n**All output MUST be in Italian language:**\n{\n  \"instagram\": \"Complete Instagram caption with emojis and hashtags\",\n  \"facebook\": \"Complete Facebook post\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        16
      ],
      "id": "b63605e5-c367-4d98-a90f-6c7403bdb406",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        64,
        224
      ],
      "id": "b204d153-38f3-4237-abec-12c27c72e5cb",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "0vqWBd3s9MAOytri",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "86ab3993-65fd-433c-9013-2cada1b8ab73",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        336,
        -192
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"instagram\": \"Complete Instagram caption with emojis and hashtags\",\n  \"facebook\": \"Complete Facebook post\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        208,
        224
      ],
      "id": "775ea2ae-9aeb-42ed-b11e-072872fa4ccc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Genera contenuti social per il tuo con museo con AI\n\n### Come funziona\n1. Il trigger programmato si attiva ogni giorno alle 8:00\n2. Legge e filtra dal calendario editoriale in Google Sheets le righe con Stato = \"da processare\"\n3. L'AI genera copy personalizzati per Instagram e Facebook\n4. Scrive i post generati nel foglio e aggiorna Stato = \"processato\"\n\n### Setup\n1. Scarica e copia sul tuo drive il **template Google Sheets** (link nella descrizione)\n2. Configura **credenziali Google e API Anthropic**\n3. **Nodo Leggi**: inserisci URL del foglio → seleziona Sheet → Filters: Column = \"Stato\", Value = \"da processare\" → Options → \"When Filter Has Multiple Matches\" → **Return All Matches**\n4. **Nodo Aggiorna**: usa stesse credenziali e URL → Column to Match On = \"row_number\" → **CRITICO** mapping colonne (icona fx per expressions):\n   - row_number: `{{ $json.row_number }}`\n   - Instagram: `{{ $json.output.instagram }}`\n   - Facebook: `{{ $json.output.facebook }}`\n   - Stato: `processato` (fixed)\n6. **Testa**: Execute Workflow → verifica Instagram/Facebook popolati\n7. **Attiva**: toggle Active\n\n### Personalizzazioni\n**Cambiare modello AI:**\nDefault: Claude 3 Haiku (~$0.0007/post). Per qualità superiore: \"Anthropic Chat Model\" → Model → \"Claude 3.5 Sonnet\" (~$0.003/post).\n\n**Aggiungere piattaforme (LinkedIn, X...):**\nSe non hai esperienza di prompt engineering, chiedi a un AI di modificare il prompt → aggiungi chiave in \"Structured Output Parser\" → aggiungi mapping in \"Aggiorna\" → aggiungi colonna nel Sheets.\n",
        "height": 800,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        -656
      ],
      "typeVersion": 1,
      "id": "b2a3e012-6add-4f09-a354-4b34de077f62",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "id": "bf32ae6e-8ba9-4fb2-b34d-73db560c0d46",
      "name": "Google Sheets - Leggi",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -352,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lSX1pLm7JEHv8ble",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "id": "f9ab054d-8780-4d15-a88a-3e32daf25f25",
      "name": "Google Sheets - Aggiorna",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        560,
        -192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lSX1pLm7JEHv8ble",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets - Leggi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets - Aggiorna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Leggi": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "551f5275-677c-4fad-be81-c5a432a683e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "249761a75d0727893b241900972d97616fc1d2ebc66bbf4e561dd0bcaf7efe01"
  },
  "id": "E714UJ0RZvlOMHqk",
  "tags": [
    {
      "updatedAt": "2026-02-14T13:29:23.094Z",
      "createdAt": "2026-02-14T13:29:23.094Z",
      "id": "7KWZGS5X9FYWGmB8",
      "name": "Claude"
    },
    {
      "updatedAt": "2026-02-14T13:30:00.821Z",
      "createdAt": "2026-02-14T13:30:00.821Z",
      "id": "7Ohzerg7rMUpxNVE",
      "name": "museum communication"
    },
    {
      "updatedAt": "2026-02-14T13:29:25.763Z",
      "createdAt": "2026-02-14T13:29:25.763Z",
      "id": "A9qVIpLLm0dTICzv",
      "name": "Instagram"
    },
    {
      "updatedAt": "2026-02-13T14:51:41.665Z",
      "createdAt": "2026-02-13T14:51:41.665Z",
      "id": "ChsXTfFiAVApLoV9",
      "name": "museums"
    },
    {
      "updatedAt": "2026-02-14T13:29:33.294Z",
      "createdAt": "2026-02-14T13:29:33.294Z",
      "id": "DdV0q6aepCyoLaZs",
      "name": "social media management"
    },
    {
      "updatedAt": "2026-02-13T14:51:47.054Z",
      "createdAt": "2026-02-13T14:51:47.054Z",
      "id": "DlA9IbzO0UJlC60W",
      "name": "social"
    },
    {
      "updatedAt": "2026-02-13T14:51:44.280Z",
      "createdAt": "2026-02-13T14:51:44.280Z",
      "id": "e6KrrfbEytXyMO8d",
      "name": "communication"
    },
    {
      "updatedAt": "2026-02-13T14:51:53.173Z",
      "createdAt": "2026-02-13T14:51:53.173Z",
      "id": "gQBvIdRWu64l5YCf",
      "name": "cultural communication"
    },
    {
      "updatedAt": "2026-02-13T14:52:15.194Z",
      "createdAt": "2026-02-13T14:52:15.194Z",
      "id": "ieQec4esLBMzasst",
      "name": "Comunicazione"
    },
    {
      "updatedAt": "2026-02-13T14:51:58.520Z",
      "createdAt": "2026-02-13T14:51:58.520Z",
      "id": "m8bvuxydVVIei0En",
      "name": "digital communication"
    },
    {
      "updatedAt": "2026-02-14T13:29:27.591Z",
      "createdAt": "2026-02-14T13:29:27.591Z",
      "id": "xA3O15K9BgYnS71j",
      "name": "Facebook"
    },
    {
      "updatedAt": "2026-02-13T14:51:59.889Z",
      "createdAt": "2026-02-13T14:51:59.889Z",
      "id": "xmRTHhhWroAt0x9L",
      "name": "social media"
    },
    {
      "updatedAt": "2026-02-14T13:29:52.076Z",
      "createdAt": "2026-02-14T13:29:52.076Z",
      "id": "xrgpOCju2DCbAT7Z",
      "name": "culture"
    }
  ]
}